<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StuManage</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.olivia.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DormDeleteServlet</servlet-name>
    <servlet-class>com.olivia.web.DormDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DormDeleteServlet</servlet-name>
    <url-pattern>/dormDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DormListServlet</servlet-name>
    <servlet-class>com.olivia.web.DormListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DormListServlet</servlet-name>
    <url-pattern>/dormList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DormSaveServlet</servlet-name>
    <servlet-class>com.olivia.web.DormSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DormSaveServlet</servlet-name>
    <url-pattern>/dormSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuListServlet</servlet-name>
    <servlet-class>com.olivia.web.StuListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuListServlet</servlet-name>
    <url-pattern>/stuList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DormCombListServlet</servlet-name>
    <servlet-class>com.olivia.web.DormCombListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DormCombListServlet</servlet-name>
    <url-pattern>/dormCombList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuDeleteServlet</servlet-name>
    <servlet-class>com.olivia.web.StuDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuDeleteServlet</servlet-name>
    <url-pattern>/stuDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuSaveServlet</servlet-name>
    <servlet-class>com.olivia.web.StuSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuSaveServlet</servlet-name>
    <url-pattern>/stuSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeModifyServlet</display-name>
    <servlet-name>CodeModifyServlet</servlet-name>
    <servlet-class>com.olivia.web.CodeModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>zhuceServlet</servlet-name>
    <servlet-class>com.olivia.web.zhuceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CodeModifyServlet</servlet-name>
    <url-pattern>/codeModify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>zhuceServlet</servlet-name>
    <url-pattern>/zhuce</url-pattern>
  </servlet-mapping>
</web-app>